// assets/variables.scss

// Variables you want to modify

// If you need to extend Vuetify SASS lists
@import '~vuetify/src/styles/styles.sass';
@import '@/assets/markdown.css';

$body-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'PingFang SC', 'Microsoft YaHei', 'Source Han Sans SC', 'Noto Sans CJK SC', 'WenQuanYi Micro Hei', sans-serif, Roboto, sans-serif;

html {
  overflow: auto !important;
}

a {
  text-decoration: none;
  &.v-btn {
    text-transform: none;
  }
  /* &.nav.v-btn {
    padding-top: 2px;
    border-bottom: 2px solid transparent;
    &:hover, &:focus, &--active {
      border-bottom: 2px solid white;
    }
  } */
}

code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-weight: normal !important;
  box-shadow: none !important;
}

#statement {
  h3 {
    margin-bottom: 8px;
  }
  .content {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
  }
  .sample {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  }
}

.v-note-wrapper {
  z-index: 0 !important;
}

.CodeMirror {
  min-height: 200px !important;
  height: 300px !important;
}

.CodeMirror-fullscreen {
  height: auto !important;
}